/* Install fonts */
@font-face {
    font-family: title;
    src: url("AlegreyaSansSC-Regular.ttf")
}

@font-face {
    font-family: body;
    src: url("SourceSansPro-Regular.ttf")
}

/* for computer-sized screens */
@media screen and (min-width: 1200px){
    html {
        background-color: white;
        opacity: 100%;
    }

    body {
        width: 95%;
        margin: 0 auto;
    }

    body section {
        width: 80%;
        margin: 0 auto;
    }

    /* ----------NAVIGATION-RELATED CSS---------- */
    /* everything to do with navigation here */
    nav {
        background: rgb(77,117,137);
        display: flex;
        width: 100%;
        column-count: 4;
        margin: 0 auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    nav div {
        display: inline;
        position: relative;
        margin: 0 auto;
    }

    nav div div {
        display: none;
        position: absolute;
        width: 100%;
    }

    nav div div a {
        display: block;
        padding: 1.5em 0;
        color: white;
        background-color: rgb(127,194,145);
        font-size: inherit;
        text-decoration-line: none;
    }

    div.overview-drop:hover div.overview-drop-content, div.our-projects-drop:hover div.our-projects-drop-content, div.impacts-drop:hover div.impacts-drop-content, div.HYCH-drop:hover div.HYCH-drop-content {
        display: block;
    }

    nav div:hover button {
        background-color: rgb(127,194,145);
    }

    nav div div a:hover {
        background-color: rgb(77,117,137);
        color: white;
    }

    nav div button {
        padding: 1.5em 6em;
        margin: 0;
        border: 0;
        border-color: white;
        background-color: rgb(77,117,137);
        color: white;
        font-size: inherit;
    }

    /* ----------MAIN CONTENT---------- */
    /* everything related to main content here */

    header {
        text-align: center;
    }

    h1 {
        color: white;
        background-color: rgb(77,117,137);
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0.6em;
        font-size: 84px;
        font-family: title;
    }

    #titleimg {
        display: block;
        margin: 0 auto;
        width: 80%;
        padding-top: 1em;
    }

    img.contentimg {
        display: block;
        width: 90%;
        margin: 1.5em auto;
        border: 0.2em solid white;
    }

    h2 {
        background-color: rgb(113,132,102);
        color: white;
        padding: 0.5em 0 0.5em 0.2em;
        width: 100%;
        font-family: title;
    }

    section.main-content {
        display: flex;
        width: 83%;
    }

    section section {
        width: 33.33%;
        margin: 0em;
        padding: 0 1.5em;
        font-family: body;
    }

    section#impacts {
        line-height: 1.5em;
    }

    section dd {
        font-style: italic;
    }
    
    footer {
        display: block;
        margin-top: 8em;
        background-color: rgb(77,117,137);
        color: white;
        padding: 0.8em 0.5em;
        text-align: right;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

/* for non-computer-sized screens */
@media screen and (max-width:1199px){
    html {
        background-color: white;
        opacity: 100%;
    }

    body {
        width: 95%;
        margin: 0 auto;
    }

    body section {
        width: 80%;
        margin: 0 auto;
    }

    /*----- NAVIGATION-RELATED CSS ------*/
    nav {
        background-color: rgb(77,117,137);
        width: 100%;
        margin: 0 auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    nav div {
        display: block;
        position: relative;
        margin: 0 auto;
    }

    nav div div {
        display: none;
        padding: 0.5em 0;
        color: white;
        background-color: rgb(127,194,145);
    }

    nav div button {
        background-color: rgb(77,117,137);
        color: white;
        padding: 1em;
        border: 0;
        margin: 0;
        font-size: inherit;
    }

    div.overview-drop:hover div.overview-drop-content, div.our-projects-drop:hover div.our-projects-drop-content, div.impacts-drop:hover div.impacts-drop-content, div.HYCH-drop:hover div.HYCH-drop-content {
        display: block;
        padding: 0em;
    }

    nav div div a {
        display: block;
        background-color: rgb(127,194,145);
        margin: auto;
        padding: 0.5em;
        color: white;
        text-decoration-line: none;
    }

    nav div:hover {
        background-color: rgb(127,194,145);
    }

    nav div:hover button {
        background-color: rgb(127,194,145);
    }

    nav div div a:hover {
        background-color: rgb(77,117,137);
    }

    /*----- MAIN CONTENT CSS -----*/
    header {
        text-align: center;
    }

    h1 {
        color: white;
        background-color: rgb(77,117,137);
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0.6em;
        font-family: title;
        font-size: 84px;
    }

    #titleimg {
        display: block;
        margin: 1em auto;
        width: 87%;
    }

    section.main-content {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    section section {
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        width: 87%;
        font-family: body;
    }

    h2 {
        background-color: rgb(113,132,102);
        color: white;
        padding: 0.5em 0 0.5em 0.2em;
        width: 100%;
        font-family: title;
    }

    section#impacts {
        line-height: 1.5em;
    }

    dd {
        font-style: italic;
    }

    img.contentimg {
        display: block;
        width: 90%;
        margin: 1.5em auto;
        border: 0.2em solid white;
    }

    footer {
        display: block;
        margin-top: 8em;
        background-color: rgb(77,117,137);
        color: white;
        padding: 0.8em 0.5em;
        text-align: right;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}